{%extends "option_first/base.html"%}
{% load static %}
{%block content%}
    <h1 style="color:#800000"><u>Option Pricing Calculator</u></h1>
    <h4><i>Calculate the price of European Options using this website :-</i></h4>
    <img src="{% static 'images/stock11.jpg' %}" alt="Stocks" title = "Image Credit: caltech-prod.s3.amazonaws.com"><br>
    {% comment %} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit">Calculate</button> {% endcomment %}
    <p style="text-align:center;">
        <font size = "4"><a href = "nStep">2. <u>Using n-Step Binomial Tree Method</u></a>
        <span style="float:left;">
            <font size = "4"><a href = "twoStep">1. <u>Using Two-Step Binomial Tree Method</u></a>
        </span>
        <span style="float:right;">
            <font size = "4"><a href = "black">3. <u>Using Black-Scholes Formula</u></a>
        </span>
    </p>
    <div align="right" style="color:black"><b><u>Developed By - Rasesh Srivastava</b></u></div>
{%endblock content%}
